
html {
    background-image: url("blue-lagoon-ornamic.png");
}

.menu {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu li {
    width: 450px;
    list-style-type:none;
    background: #008080b8;
    position: relative;
    float: left;
}

.menu li a {
    color: #ffffff;
    text-decoration: #ffffffe6;
    display: block;
    text-size-adjust: 19;
    text-align: center;
    padding: 0 10px;
    height: 55px;
    line-height: 55px;
    transition: all .75s;
}

.menu li a:hover {
    background: #7eb590;
    transition: all 1s;
}

.menu li ul {
    position: absolute;
    float: left;
    
    bottom: 100%;
    display: none;
    padding: 0;
}

.menu li:hover ul{
    display: block;
}
