em {
    color:green;
}
body {
    color: white;
    background-color: black;

}

p {
    text-align: right;
}

h1,
h2 {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}